body {
    background: #ececec;
}

img {
    height: auto;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 50px;
}

.header {
    display: flex;
    margin-bottom: 10px;
}

.title {
    display: inline-block;
    color: #555;
    text-align: center;
    margin: 0 auto;
}

.description {
    text-align: center;
    color: #555;
    font-size: 20px;
}

.btn-primary {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
}

.btn-group {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}



.row__products {
    display: none;
}

.products {
    display: none;
}

.row--active {
    display: block;
}

.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
}

.col-md-4 {
    position: static;
}

.col-sm-4 {
    display: flex;
    position: static;
}

.product {
    min-height: 330px;
    /* max-height: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    overflow: hidden;
    padding: 25px 15px;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
    
}

.product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
    max-height: 235px;
    margin-bottom: 10px;
}

.product__text {
    /* flex: 1; */
    /* margin: auto 0; */
}

.product-title a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.product-desc {
    /* max-height: 60px; */
    display: none;
}
.product-desc--active {
    display: block;
}



.modal {
    /* position: fixed; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    
}

.modal__item {
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding: 20px;
}

.modal-item--active {
    display: flex;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__item-img {
    display: flex;
}

.modal__item-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.modal--active {
    visibility: visible;
    opacity: 1;
    z-index: 0;
}